/*NAVBAR___________________________________*/


#navbar-logo{
    font-family: 'Prata', serif;
    font-size: 20px;
    color: rgb(15, 76, 190) !important;
}

  /* .navbar-item:hover{
    background-color: rgb(253, 120, 120) !important;
} */

/*LANDING PAGE_____________________________*/
/* #button1{
    margin-left: 40%;
} */

/* .column.is-6{
    margin-left: 5%;
} */

.is-hero-image {
    background-image: url("https://www.sensationsdumonde.com/img/blog/visitersantorincyclades.jpg");
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #999;

}
 #signup-card{
    
    padding-bottom: 5%;
} 


#login-button{
    text-decoration: underline !important;
    color: rgb(0, 162, 255);
}


.button.is-primary{
    background-color: rgb(253, 120, 120) !important;
}


h1 {
    font-size: 40px !important;
}

#logo-image{
    height: 100px;
    width: 30px;
}

/*CARD SECTION_____________________________________________*/





/*EXAMPLE SECTION_______________________________________________*/
#section2{
    background-color: rgb(155, 215, 255);
}

#example-card{
    -webkit-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
-moz-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
}

#example-title{
    text-align: center;
    margin-top: 10%;
}

#example-title2{
    text-align: center;

}


/*FOOTER_____________________________________________*/