/*NAVBAR___________________________________*/
.navbar.is-fixed-top.bg-dark{
    background-color: white;
    color: rgb(44, 44, 44) !important;
    -webkit-box-shadow: 0 8px 6px -6px #999;
      -moz-box-shadow: 0 8px 6px -6px #999;
      box-shadow: 0 8px 6px -6px #999;
  }

  .navbar-default {
	border-color: transparent;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: transparent;
}

.navbar.is-white{
    color: white !important;
}

.navbar-blue{
    background-color: aqua;
}

#navbar-logo{
    font-family: 'Prata', serif;
    font-size: 20px;
    color: rgb(15, 76, 190) !important;
}

  /* .navbar-item:hover{
    background-color: rgb(253, 120, 120) !important;
} */

/*LANDING PAGE_____________________________*/
/* #button1{
    margin-left: 40%;
} */

/* .column.is-6{
    margin-left: 5%;
} */

body {
    font-family: 'Montserrat', sans-serif; 
    /* font-family: 'Roboto', sans-serif; */
}

.is-hero-image {
    background-image: url(../media/santorini-landing.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #999;

}
 #signup-card{
    
    padding-bottom: 5%;
} 


#login-button{
    text-decoration: underline !important;
    color: rgb(0, 162, 255);
}


.button.is-primary{
    background-color: rgb(253, 120, 120) !important;
}


h1 {
    font-size: 40px !important;
}

#logo-image{
    height: 100px;
    width: 30px;
}
/*CARD SECTION_____________________________________________*/


h6 {
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    font-size: 25px;
    color: black;
  /* background: -webkit-linear-gradient(rgb(206, 227, 236), rgb(0, 43, 68));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  padding-top: 3%;
}

#signup-card{
    -webkit-box-shadow: -7px 11px 25px -5px rgba(0,0,0,1);
    -moz-box-shadow: -7px 11px 25px -5px rgba(0,0,0,1);
    box-shadow: -7px 11px 25px -5px rgba(0,0,0,1);
    border-radius: 1.5rem;
}

/*EXAMPLE SECTION_______________________________________________*/
#section2{
    background: url(../media/gradient.png)
}

#example-card{
    -webkit-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
-moz-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
}

#example-title{
    text-align: center;
    margin-top: 15%;
    color: white;
}

#example-title2{
    text-align: center;

}

.media-content{
    text-align: center;
    
}

/*FOOTER_____________________________________________*/

#social{
    height: 30px;
    width: 30px;
}

.logo1-icons{
    height: 10px;
    width: 10px;
    /* padding-top: 3%; */
}

.footer{
    padding: 3rem 1.5rem 4rem !important;
}
